
  <header class="bg-[#F2F2F2] shadow py-6 sticky top-0 z-50">
    <div class=" max-w-screen-xl mx-auto px-6 sm:px-8 md:px-4 flex flex-row flex-wrap items-center justify-between gap-4">
    <!-- LOGO -->
    <div class="flex items-center">
      <img src="assets/images/Logo.svg"  class="h-[50px] min-w-[80px] object-contain" />
    </div>

    <!-- MENÚ -->
    <nav class="hidden lg:flex space-x-6 font-medium text-gray-600">
              <a href="#" class="group relative hover:text-[#CC7A35] font-poppins font-semibold"> INICIO
          <span class="pointer-events-none absolute left-1/2 -translate-x-1/2 -bottom-1 h-[3px] w-0 bg-[#CC7A35] transition-all duration-300 group-hover:w-1/2"></span>
              </a>
        <a href="#" class="group relative hover:text-[#CC7A35] font-poppins font-semibold">QUIÉNES SOMOS
          <span class="pointer-events-none absolute left-1/2 -translate-x-1/2 -bottom-1 h-[3px] w-0 bg-[#CC7A35] transition-all duration-300 group-hover:w-1/2"></span>
        </a>
        <a href="#" class="group relative hover:text-[#CC7A35] font-poppins font-semibold"> POR QUÉ PREFERIRNOS
          <span class="pointer-events-none absolute left-1/2 -translate-x-1/2 -bottom-1 h-[3px] w-0 bg-[#CC7A35] transition-all duration-300 group-hover:w-1/2"></span>
        </a>
        <a href="#" class="group relative hover:text-[#CC7A35] font-poppins font-semibold">CONTÁCTANOS
          <span class="pointer-events-none absolute left-1/2 -translate-x-1/2 -bottom-1 h-[3px] w-0 bg-[#CC7A35] transition-all duration-300 group-hover:w-1/2"></span>
  </a>
</nav>

    <!-- BOTÓN -->
    <div class="flex items-center space-x-4 block hidden lg:flex">
      <button  class=" bg-[#cd7d3d] hover:bg-[#9C4629] text-white text-lg px-6 py-2 rounded-md font-poppins font-semibold">
        INICIAR SESIÓN
      </button>
    </div>

     <button  (click)="toggleMenu()" id="menu-toggle" class="block lg:hidden flex flex-col space-y-2" >
        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
           viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
     </button>

    </div>

    <div [class.hidden]="isMenuHidden" id="mobile-menu" class="lg:hidden">
        <nav class="flex flex-col items-center font-medium w-full bg-white divide-y divide-gray-200  py-12">
             <a href="#"  class="w-full px-6 py-6 hover:bg-gray-100 text-center font-poppins font-semibold text-gray-600 text-lg">INICIO</a>
             <a href="#" class="w-full px-6 py-6 hover:bg-gray-100 text-center font-poppins font-semibold text-gray-600 text-lg">QUIÉNES SOMOS</a>
             <a href="#" class="w-full px-6 py-6 hover:bg-gray-100 text-center font-poppins font-semibold text-gray-600 text-lg">POR QUÉ PREFERIRNOS</a>
             <a href="#" class="w-full px-6 py-6 hover:bg-gray-100 text-center font-poppins font-semibold text-gray-600 text-lg">CONTÁCTANOS</a>
             <div class="w-full px-6 py-10">
                <button  id="openModal" class="w-full bg-[#cd7d3d]  text-white text-lg px-6 py-3 rounded-md font-poppins font-semibold">
                    INICIAR SESIÓN
                </button>
             </div>
        </nav>
        
    </div>
  </header>


<section class="relative h-screen-minus-header bg-cover bg-center  flex items-center " style="background-image:  url('assets/images/foto_1.jpg') " >
  <!-- Capa oscura para mejorar contraste -->
  <div class="absolute inset-0 bg-black bg-opacity-40  z-0"></div>

  <div class="relative z-10 w-full">
    <div class="max-w-screen-xl mx-auto px-6 sm:px-8 md:px-4">
      <div class=" flex flex-col space-y-6 max-w-xl">
        <h1 class="text-4xl md:text-7xl font-medium text-white font-patua">
          EXPERIENCIA<br />
          <span class="text-[#cd7d3d]">INFRAESTRUCTURA</span><br />
          Y CONOCIMIENTO
        </h1>

        <div>
          <button class=" bg-[#cd7d3d] hover:bg-[#9C4629] text-white   text-lg px-6 py-2 rounded-md font-poppins font-semibold">
            CONTÁCTENOS
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w-full py-16 flex flex-col md:flex-row items-center gap-12 bg-[#F2F2F2]">
  <div class="max-w-screen-xl mx-auto px-6 sm:px-8 md:px-4 w-full flex flex-col md:flex-row items-center gap-12">
    <!-- Título -->
    <div class="flex-1 flex flex-col items-start space-y-6">
      <h2 class="flex items-center gap-4 text-[38px] uppercase text-gray-600 font-patua">
        <img src="assets/logos/Polígono.svg" alt="icono" class=" w-8 h-8" />
        ¿Quiénes somos?
      </h2>
      <img src="assets/images/Enmascarargrupo3.png" alt="excavadora" class="w-full object-contain z-10" />
    </div>
    <!-- Contenido -->
    <div class="flex-1 flex flex-col space-y-6">
      <!-- Video y texto -->
      <div class="w-full max-w-[1920px] mx-auto relative pt-[56.25%] rounded-xl shadow">
        <!-- Video simulado (puedes reemplazarlo por iframe o <video>) -->
        <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/_Ju44KvkarU?si=XKSF_p4R9s3ex2dD" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
       </div>
        <!-- Descripción -->
        <p class="text-sm text-gray-600 leading-relaxed  text-center text-[20px] font-poppins"  >
          Empresa 100% antioqueña, que nace a través de una alianza estratégica entre
          <strong class="font-semibold text-gray-600 font-poppins">expertos de la industria de la construcción</strong>.
          Gracias a esto, nuestra empresa tiene la
          <strong class="font-semibold text-gray-600 tfont-poppins">experiencia, la infraestructura y el conocimiento</strong>
          para brindarle a sus clientes, productos de la
          <strong class="font-semibold text-gray-600 font-poppins">mejor calidad y al mejor precio</strong>.
        </p>

        <!-- Botón -->
        <button class="mx-auto bg-[#cd7d3d] hover:bg-[#9C4629] text-white   text-lg px-6 py-2 rounded-md font-poppins font-semibold">
          CONTÁCTENOS
        </button>
      
    </div>
    </div>
</section>


<section class="py-16  max-w-screen-xl mx-auto px-6 sm:px-8 md:px-4">
  <div class="flex flex-col items-start space-y-4 mb-6 relative">
    <div class="flex items-center space-x-3">
      <img src="assets/logos/Polígono.svg" alt="icono" class="w-8 h-8" />
      <h2 class="flex items-center gap-4 text-[38px] uppercase text-gray-600 font-patua">
        ¿Por qué preferirnos?
      </h2>
    </div>

    <!-- Botones arriba -->
    <div class="absolute right-0 top-0 flex space-x-4">
      <button (click)="prev()" class="">
        <img src="assets/logos/arrow-left.svg" alt="Flecha izquierda" class="w-12 h-12" />
      </button>
      <button (click)="next()" class="">
         <img src="assets/logos/arrow-right.svg" alt="Flecha derecha" class="w-12 h-12" />
      </button>
    </div>
  </div>

  <!-- Carrusel -->
<!-- Carrusel -->
<!-- Carrusel -->
<div class="overflow-hidden w-full">
  <div class="transition-transform duration-500 ease-in-out">
    <div
      class="grid gap-6"
      [class.grid-cols-1]="cardsToShow === 1"
      [class.grid-cols-4]="cardsToShow === 4"
    >
      @for (card of visibleCards; track card) {
        <div class="flex flex-col rounded-lg overflow-hidden shadow-md bg-white">
          <div class="relative w-full h-[180px] sm:h-[220px] overflow-hidden">
            <img [src]="card.img" alt="imagen"  class="absolute inset-0 w-full h-full object-cover" />
            <div class="absolute top-4 left-4 bg-orange-700 rounded-full p-2 z-10">
              <img [src]="card.img" alt="icono" class="w-6 h-6" />
            </div>
          </div>
          <div class="bg-[#CC7A35] text-[15px] text-white leading-relaxed text-center font-poppins font-medium p-5 h-60 flex items-center justify-center">
            {{ card.text }}
          </div>
        </div>
      }
    </div>
  </div>

</div>

</section>

<section class="py-16 max-w-screen-xl mx-auto px-6 sm:px-8 md:px-4">
  <div class="flex flex-col items-start space-y-4 mb-6 relative">
    <div class="flex items-center space-x-3 mb-10"> <img src="assets/logos/Polígono.svg" alt="icono" class="w-8 h-8" />
      <h2 class="flex items-center gap-4 text-[38px] uppercase text-gray-600 font-patua">
        Contáctenos
      </h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 text-center">
  <div class="px-3">
    <div class="flex justify-center mb-6">
      <img src="assets/logos/Iconfa-solid-phone.svg" alt="Teléfono" class="w-20 h-20 " />
    </div>
    <div class="bg-[#F2F2F2] p-4 rounded-lg shadow-sm h-60 flex flex-col justify-center">
      <div>
        <h3 class="font-bold font-poppins text-[#444444] text-[28px] mb-1">Número de Teléfono</h3>
        <p class="font-poppins text-[#444444] text-[16px]">(604) 322 - 88 - 70</p>
      </div>
    </div>
  </div>

  <div class="px-3">
    <div class="flex justify-center mb-6 pt-8 sm:pt-0">
      <img src="assets/logos/sobre.svg" alt="Correo" class="w-20 h-20" />
    </div>
    <div class="bg-[#F2F2F2] p-4 rounded-lg shadow-sm h-60 flex flex-col justify-center">
      <div>
        <h3 class="font-bold font-poppins text-[#444444] text-[28px] mb-1">Correo Electrónico</h3>
        <p class="font-poppins text-[#444444] text-[16px]">ventas@gravasyarenascauca.com</p>
      </div>
    </div>
  </div>

  <div class="px-3">
    <div class="flex justify-center mb-6 pt-8 sm:pt-0">
      <img src="assets/logos/Iconfa-solid-location-dot.svg" alt="Ubicación" class="w-20 h-20" />
    </div>
    <div class="bg-[#F2F2F2] p-4 rounded-lg shadow-sm h-60 flex flex-col justify-center">
      <div>
        <h3 class="font-bold font-poppins text-[#444444] text-[28px] mb-1">Ubicación</h3>
        <p class="font-medium font-poppins text-[#444444] text-center text-[16px]">
          <strong>Dirección Planta:</strong> Km 11 Vía Santa Fe de Antioquia – Bolombolo.<br />
          <strong>Dirección Administrativa:</strong> Calle 20B Sur # 37A 90. Medellín, Antioquia.
        </p>
      </div>
    </div>
  </div>
</div>
  </div>
</section>
<section class="py-16  relative z-10 max-w-screen-xl mx-auto">
  
    <form class="bg-gray-100 p-6 rounded-lg shadow-md space-y-4">
        <h2 class="text-center text-[30px]  text-[#9E4D33] mb-6 font-patua">
            ¿Necesitas una cotización o tienes alguna duda? Estamos aquí para ayudarte.
        </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <input
          type="text"
          placeholder="Nombres"
          class="font-poppins  w-full p-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#CC7A35]"
        />
        <input
          type="text"
          placeholder="Apellidos"
          class="font-poppins w-full p-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#CC7A35]"
        />
        <input
          type="tel"
          placeholder="Número de Teléfono"
          class="font-poppins w-full p-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#CC7A35]"
        />
        <input
          type="email"
          placeholder="Correo Electrónico"
          class="font-poppins w-full p-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#CC7A35]"
        />
      </div>

      <input
        type="text"
        placeholder="Asunto: Tipo de Solicitud (cotización, soporte, etc.)"
        class="font-poppins w-full p-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#CC7A35]"
      />

      <textarea
        rows="4"
        placeholder="Cuéntanos los detalles de tu solicitud"
        class="font-poppins w-full p-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2focus:ring-[#CC7A35] resize-none"
      ></textarea>

      <div class="text-right">
        <button
          type="submit"
          class="mx-auto bg-[#cd7d3d] hover:bg-[#9C4629] text-white   text-lg px-6 py-2 rounded-md font-poppins font-semibold"
        >
          SOLICITAR INFORMACIÓN
        </button>
      </div>
           
    </form>

</section>

<div class="w-full">
  <div class="-mt-40"> <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15865.372558661793!2d-75.59023479999999!3d6.2198006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44284144078657%3A0xb119a0a1a0b3a3d!2sMedell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1722557438407!5m2!1ses!2sco"
      width="100%"
      height="350"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
 
</div>

